.menu {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: #020617;
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }

  #menu-toggle:checked + .menu-icon + .menu {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
